* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #222;
}

.card {
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg, #00feba, #5b548a);
    color: #fff;
    /*text color*/
    margin: 100px auto 0;
    /*margin 100 from top and 0 from bottom*/
    border-radius: 20px;
    /*to make corners round*/
    padding: 40px 35px;
    /*for space inside the card*/
    text-align: center;
}

.search {
    /*now the input field and search button is aligned horizontally*/
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input {
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}

.search button {
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50% ; /*circle*/
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.search button img {
    width: 16px;
}